sudo pip3 install git+https://github.com/DazB/python-omxplayer-wrapper.git#egg=omxplayer-wrapper
sudo pip3 install asteval
sudo pip3 install Flask
sudo pip3 install keyboard
sudo pip3 install pyftpdlib
sudo pip3 install pyudev
sudo apt install python3-gpiozero
sudo apt-get install ffmpeg
