{% include 'header.html' %}

<table style="border:#eee outset 0px; background-color:#eee; border-spacing:8px">
    <tr>
        <td style="width:80px; vertical-align:top; border:#888 inset 0px; background-color:#eee; padding:0px">
            {% include 'menu.html' %}
        </td>

        <td>
            <form action="din.html" method="POST">
        <td
            style="width:600px; height:300px; vertical-align:top; border:#888 inset 0px; padding:0px; background-color:#fff;">
            <table style="border:#FFF outset 0px; border-spacing:2px">
                <tr>
                    <td style="height:22px;vertical-align:top;border:#888 inset 0px; padding:4px">
                        <h2>
                            Digital Inputs:
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:top;border:#888 inset 0px; padding:4px">
                        <h3>When Input 1 goes ON:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:0px">
                        <select id="input1_on" name="input1_on" size=1 onchange="show_track(this, 'input1_on_track');">
                            <option value="nothing">Do nothing</option>
                            <option value="play">Play Track #:</option>
                            <option value="loop">Loop Track #:</option>
                            <option value="random">Play Random Track from 1 to #:</option>
                            <option value="stop">Stop playback</option>
                            <option value="pause">Pause playback</option>
                            <option value="video_mute">Video Mute</option>
                            <option value="audio_mute">Audio Mute</option>
                            <option value="video_unmute">Video Unmute</option>
                            <option value="audio_unmute">Audio Unmute</option>
                        </select>&nbsp
                        <input id="input1_on_track" type=number name="input1_on_track" value="{{input1_on_track}}" autocomplete=off min="0"
                            max="9999" step=1>&nbsp
                        <br>
                        <input id="input1_on_ignore" type="checkbox" name="input1_on_ignore" value="1">Ignore input 1 ON
                        during playback (except track 0)</n1>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:top;border:#888 inset 0px; padding:4px">
                        <h3>When Input 1 goes OFF:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:0px">
                        <select id="input1_off" name="input1_off" size=1 onchange="show_track(this, 'input1_off_track');">
                            <option value="nothing">Do nothing</option>
                            <option value="play">Play Track #:</option>
                            <option value="loop">Loop Track #:</option>
                            <option value="random">Play Random Track from 1 to #:</option>
                            <option value="stop">Stop playback</option>
                            <option value="pause">Pause playback</option>
                            <option value="video_mute">Video Mute</option>
                            <option value="audio_mute">Audio Mute</option>
                            <option value="video_unmute">Video Unmute</option>
                            <option value="audio_unmute">Audio Unmute</option>
                        </select>&nbsp
                        <input id="input1_off_track" type=number name="input1_off_track" value="{{input1_off_track}}" autocomplete=off min="0"
                            max="9999" step=1>&nbsp
                        <br>
                        <input id="input1_off_ignore" type="checkbox" name="input1_off_ignore" value="1">Ignore input 1 OFF
                        during playback (except track 0)
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:top;border:#888 inset 0px; padding:4px">
                        <h3>When Input 2 goes ON:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:0px">
                        <select id="input2_on" name="input2_on" size=1 onchange="show_track(this, 'input2_on_track');">
                            <option value="nothing">Do nothing</option>
                            <option value="play">Play Track #:</option>
                            <option value="loop">Loop Track #:</option>
                            <option value="random">Play Random Track from 1 to #:</option>
                            <option value="stop">Stop playback</option>
                            <option value="pause">Pause playback</option>
                            <option value="video_mute">Video Mute</option>
                            <option value="audio_mute">Audio Mute</option>
                            <option value="video_unmute">Video Unmute</option>
                            <option value="audio_unmute">Audio Unmute</option>
                        </select>&nbsp
                        <input id="input2_on_track" type=number name="input2_on_track" value="{{input2_on_track}}" autocomplete=off min="0"
                            max="9999" step=1>&nbsp
                        <br>
                        <input id="input2_on_ignore" type="checkbox" name="input2_on_ignore" value="1">Ignore input 2 ON
                        during playback (except track 0)
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:top;border:#888 inset 0px; padding:4px">
                        <h3>When Input 2 goes OFF:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:0px">
                        <select id="input2_off" name="input2_off" size=1 onchange="show_track(this, 'input2_off_track');">
                            <option value="nothing">Do nothing</option>
                            <option value="play">Play Track #:</option>
                            <option value="loop">Loop Track #:</option>
                            <option value="random">Play Random Track from 1 to #:</option>
                            <option value="stop">Stop playback</option>
                            <option value="pause">Pause playback</option>
                            <option value="video_mute">Video Mute</option>
                            <option value="audio_mute">Audio Mute</option>
                            <option value="video_unmute">Video Unmute</option>
                            <option value="audio_unmute">Audio Unmute</option>
                        </select>&nbsp
                        <input id="input2_off_track" type=number name="input2_off_track" value="{{input2_off_track}}" autocomplete=off min="0"
                            max="9999" step=1>&nbsp
                        <br>
                        <input id="input2_off_ignore" type="checkbox" name="input2_off_ignore" value="1">Ignore input 2 OFF
                        during playback (except track 0)
                        <p></p>
                    </td>
                </tr>
            </table>
            &nbsp
            <input id="submit" type=submit name="submit" value="Save">&nbsp&nbsp
            <i1>Save settings to device</i1>
        </td>
        </form>
    </tr>
</table>

<script>
    // On load, show saved options, and show or hide track box if needed
    window.addEventListener("load",function(){
        document.getElementById("input1_on").value="{{input1_on}}";
        document.getElementById("input2_on").value="{{input2_on}}";
        document.getElementById("input1_off").value="{{input1_off}}";
        document.getElementById("input2_off").value="{{input2_off}}";
        show_track(document.getElementById("input1_on"), "input1_on_track")
        show_track(document.getElementById("input2_on"), "input2_on_track")
        show_track(document.getElementById("input1_off"), "input1_off_track")
        show_track(document.getElementById("input2_off"), "input2_off_track")

        if ("{{input1_on_ignore}}" === "1") {
            document.getElementById("input1_on_ignore").checked = true;
        }
        if ("{{input1_off_ignore}}" === "1") {
            document.getElementById("input1_off_ignore").checked = true;
        }
        if ("{{input2_on_ignore}}" === "1") {
            document.getElementById("input2_on_ignore").checked = true;
        }
        if ("{{input2_off_ignore}}" === "1") {
            document.getElementById("input2_off_ignore").checked = true;
        }

    }, false);

    // Will load track box if needed
    function show_track(list, track) {
        if (list.value === "play" || 
            list.value === "loop" || 
            list.value === "random") {
            document.getElementById(track).style.display = "";
        } else {
            document.getElementById(track).style.display = "none";
        }
    }
</script>

{% include 'footer.html' %}