{% include 'header.html' %}
<table style="border:#eee outset 0px; background-color:#eee; border-spacing:8px">
    <tr>
        <td style="width:80px; vertical-align:top; border:#888 inset 0px; background-color:#eee; padding:0px">
            {% include 'menu.html' %}
        </td>
        <td>
            <form action="dout.html" method="POST">
            <td
            style="width:600px; height:300px; vertical-align:top; border:#888 inset 0px; padding:0px; background-color:#fff;">
            <table style="border:#FFF outset 0px; border-spacing:2px">
                <tr>
                    <td style="height:22px;vertical-align:top;border:#888 inset 0px; padding:4px">
                        <h2>Digital Outputs:
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:top;border:#888 inset 0px; padding:4px">
                        <h3>Digital Output 1:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:0px">
                        <select id="output1" name="output1" size=1 onchange="show_track(this, 'output1_track');">
                            <option value="not_used">Not used</option>
                            <option value="on_playing">On when any file is playing</option>
                            <option value="pulse_playing">Pulse when any file starts playing</option>
                            <option value="on_track">On when playing track #:</option>
                            <option value="pulse_track">Pulse when playing track #:</option>
                            <option value="on_boot">On when the player boots</option>
                            <option value="pulse_boot">Pulse when the player boots</option>
                        </select>&nbsp
                        <input id="output1_track" type=number name="output1_track" value="{{output1_track}}" autocomplete=off min="0" max="9999"
                            step=1>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:top;border:#888 inset 0px; padding:4px">
                        <h3>Digital Output 2:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:0px">
                        <select id="output2" name="output2" size=1 onchange="show_track(this, 'output2_track');">
                            <option value="not_used">Not used</option>
                            <option value="on_playing">On when any file is playing</option>
                            <option value="pulse_playing">Pulse when any file starts playing</option>
                            <option value="on_track">On when playing track #:</option>
                            <option value="pulse_track">Pulse when playing track #:</option>
                            <option value="on_boot">On when the player boots</option>
                            <option value="pulse_boot">Pulse when the player boots</option>
                        </select>&nbsp
                            <input id="output2_track" type=number name="output2_track" value="{{output2_track}}" autocomplete=off min="0"
                            max="9999" step=1>
                        </span>

                        <p></p>
                    </td>
                </tr>
            </table>
            &nbsp
            <input id="submit" type=submit name="submit" value="Save">&nbsp&nbsp
            <i1>Save settings to device</i1>
        </td>
    </tr>
</table>

<script>
    // On load, show saved options, and show or hide track box if needed
    window.addEventListener("load",function(){
        document.getElementById("output1").value="{{output1}}";
        document.getElementById("output2").value="{{output2}}";
        show_track(document.getElementById("output1"), "output1_track")
        show_track(document.getElementById("output2"), "output2_track")
    }, false);

    // Will load track box if needed
    function show_track(list, track) {
        if (list.value === "on_track" || 
            list.value === "pulse_track") {
            document.getElementById(track).style.display = "";
        } else {
            document.getElementById(track).style.display = "none";
        }
    }
</script>

{% include 'footer.html' %}