{% include 'header.html' %}
<table style="border:#eee outset 0px; background-color:#eee; border-spacing:8px">
    <tr>
        <td style="width:80px; vertical-align:top; border:#888 inset 0px; background-color:#eee; padding:0px">
            {% include 'menu.html' %}
        </td>
        <td>
        <form action="index.html" method="POST">
            <td
                style="width:600px; height:300px; vertical-align:top; border:#888 inset 0px; padding:0px; background-color:#fff;">
                <table style="border:#fff outset 0px; border-spacing:2px">
                    <tr>
                        <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                            <h2>General:</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                            <h3>Firmware version:</h3>
                        </td>
                        <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                            {{version}}
                        </td>
                    </tr>
                    <tr>
                        <td style="height:24px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                            <h3>Device description:</h3>
                        </td>
                        <td style="height:24px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                            <input id="DevName" type=text value="{{dev_desc}}" name="devdesc" size=32 autocomplete=off>
                            <i1>Up to 32 characters</i1>
                        </td>
                    </tr>
                     <tr>
                        <td style="height:24px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                            <h3>Audio Output:</h3>
                        </td>
                        <td style="height:24px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                            <select id="audio" name="audio" size=1>
                                <option value="hdmi">HDMI</option>
                                <option value="alsa">Audio Jack</option>
                            </select>&nbsp
                        </td>
                    </tr>
                </table>
                &nbsp
                <input id="submit" type=submit name="submit" value="Save">&nbsp&nbsp
                <i1>Save settings to device</i1>
            </td>
        </form>
    </tr>
</table>

<script>
    // On load, show saved options, and show or hide track box if needed
    window.addEventListener("load",function(){
        document.getElementById("audio").value="{{audio}}";
    }, false);
</script>

{% include 'footer.html' %}