<table class="hoverTable">
    <tr>
        <td style="height:22px;vertical-align:middle;border:#888 inset 0;padding:0">
            <a href="index.html">General</a>
        </td>
    </tr>
    <tr>
        <td style="height:22px;vertical-align:middle;border:#888 inset 0;padding:0">
            <a href="net.html">Ethernet</a>
        </td>
    </tr>
    <tr>
        <td style="height:22px;vertical-align:middle;border:#888 inset 0;padding:0">
            <a href="din.html">Digital Inputs</a>
        </td>
    </tr>
    <tr>
        <td style="height:22px;vertical-align:middle;border:#888 inset 0;padding:0">
            <a href="dout.html">Digital Outputs</a>
        </td>
    </tr>
    <tr>
        <td style="height:22px;vertical-align:middle;border:#888 inset 0;padding:0">
            <a href="oth.html">Others</a>
        </td>
    </tr>
</table>