{% include 'header.html' %}
<table style="border:#eee outset 0px; background-color:#eee; border-spacing:8px">
    <tr>
        <td style="width:80px; vertical-align:top; border:#888 inset 0px; background-color:#eee; padding:0px">
            {% include 'menu.html' %}
        </td>
        <td>
            <form action="net.html" method=get name="config">
        <td
            style="width:600px; height:300px; vertical-align:top; border:#888 inset 0px; padding:0px; background-color:#fff;">
            <table style="border:#FFF outset 0px; border-spacing:2px">
                <tr>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <h2>Network Settings:</h2>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <h3>NetBIOS name:</a>
                        </h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <input id="NBName" type=text value="~NBName~" name="host" size=15 autocomplete=off>
                        <i1>Max 15 characters</i1>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <h3>IP address:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <input id="IP" type=text value="~IP~" name="ip" size=15 autocomplete=off>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <h3>Subnet mask:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <input id="SN" type=text value="~SN~" name="sub" size=15 autocomplete=off>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <h3>Gateway address:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <input id="GW" type=text value="~GW~" name="gw" size=15 autocomplete=off>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <h3>DNS 1 address:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <input id="DNS1" type=text value="~DNS1~" name="dns1" size=15 autocomplete=off>
                    </td>
                </tr>
                <tr>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <h3>DNS 2 address:</h3>
                    </td>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <input id="DNS2" type=text value="~DNS2~" name="dns2" size=15 autocomplete=off>
                    </td>
                </tr>
            </table>
            <div>
                <strong>Clicking the "Save and Reboot" button will save this data and then reboot
                    the device. Audio playback will stop!</strong><br>
                <ul>
                    <li>If you have NOT changed the device IP address, just wait a few seconds and
                        then refresh your browser.
                    </li>
                    <li>If you HAVE changed the device IP address you will need to type this new IP
                        address in your browser address bar.
                    </li>
                </ul>
                <input type="submit" class="sm" value="Save and Reboot" />

                <br>
            </div>
            <br>
        </td>
    </tr>
</table>
{% include 'footer.html' %}