{% include 'header.html' %}
<table style="border:#eee outset 0px; background-color:#eee; border-spacing:8px">
    <tr>
        <td style="width:80px; vertical-align:top; border:#888 inset 0px; background-color:#eee; padding:0px">
            {% include 'menu.html' %}
        </td>
        <td>
        <td
            style="width:600px; height:300px; vertical-align:top; border:#888 inset 0px; padding:0px; background-color:#fff;">
            <h2>Ooops!</h2>
            <centre>An IP address or mask was not correctly entered.
                <p></p>Please click the Back button, check your data, and try again.
                <p></p>
                <form><input type="button" value="Back" onClick="history.go(-1); return true;">
                </form>
            </centre>
        </td>
    </tr>
</table>
{% include 'footer.html' %}