{% include 'header.html' %}
<table style="border:#eee outset 0px; background-color:#eee; border-spacing:8px">
    <tr>
        <td style="width:80px; vertical-align:top; border:#888 inset 0px; background-color:#eee; padding:0px">
            {% include 'menu.html' %}
        </td>
        <td>
        <form action="oth.html" method="POST">
        <td
            style="width:600px; height:300px; vertical-align:top; border:#888 inset 0px; padding:0px; background-color:#fff;">
            <table style="border:#FFF outset 0px; border-spacing:2px">
                <tr>
                    <td style="height:22px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <h2>Others:</h2>
                    </td>
                </tr>
                <tr>
                    <td style="height:24px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <h3>Auto Start:</h3>
                    </td>
                    <td style="height:24px;vertical-align:middle;border:#888 inset 0px; padding:4px">
                        <input id="auto_start" type="checkbox" name="auto_start" value="1">After booting, play
                        track:
                        <input id="auto_start_track" type=number name="auto_start_track" value="{{auto_start_track}}" autocomplete=off min="0"
                        max="9999" step=1>&nbsp
                    </td>
                </tr>
            </table>
            &nbsp
            <input id="submit" type=submit name="submit" value="Save">&nbsp&nbsp
            <i1>Save settings to device</i1>
        </td>
    </tr>
</table>

<script>
    // On load, show saved options, and show or hide track box if needed
    window.addEventListener("load",function(){
        if ("{{auto_start}}" === "1") {
            document.getElementById("auto_start").checked = true;
        }
    }, false);
</script>

{% include 'footer.html' %}